{% extends "base.html"%}
{% load static %}

{% block page_title %} Home Page {% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "blog/home.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}
{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/Vrej.JPG" %}" alt="Vrej - The Author Of This Blog">
            <h2>VK'S Blog</h2>
        </header>
    <p>Hi, I am Vrej I love to blog about tech and the world</p>
    </section>

    <section id="latest-posts">
        <h2>My latest Thoughts</h2>
    <ul>
        {% for post in posts %}
        {% include "includes/posts.html" %}
        {% endfor %}
    </ul>
    </section>
<section id="about">
    <h2>What I Do</h2>
    <p>I love programming, I love to help others and I enjoy exploring new technologies in general</p>
    <p>Hi</p>
</section>

{% endblock %}